### 1.Write a Python program to sum all the items:

In [12]:
list1 = [12,9,6,3,22,8]
sum = 0
for l in list1:
    sum +=l
print("List of number: ", list1)
print("Sum of list1 : ",sum)

List of number:  [12, 9, 6, 3, 22, 8]
Sum of list1 :  60

### 2.Write a Python program to multiply all the items in a list

In [13]:
product = 1
for l in list1:
    product *=l
print("Product of list : ",product)

Product of list :  342144

### 3.Write a Python program to get the largest number from a list

In [14]:
largest_num = max(list1)
print("Largest number in list1 : ",largest_num)

Largest number in list1 :  22

### 4.Write a Python program to get the smallest number from a list

In [15]:
smallest_num = min(list1)
print("Smallest number in list1 : ",smallest_num)

Smallest number in list1 :  3

### 5. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings

In [30]:
st_list = ["anna","ben","elle","denis","anna","cassy","elle"]
count = 0
for s in st_list:
    if len(s)>=2 and s[0] == s[-1]:
        count +=1
print("Number of String: ",count)

Number of String:  4

### 6.Write a Python program to remove duplicates from a list

In [32]:
rem_dup = list(set(st_list))
print("Original list : ",st_list)
print("Duplicates Removed list : ",rem_dup)

Original list :  ['anna', 'ben', 'elle', 'denis', 'anna', 'cassy', 'elle']
Duplicates Removed list :  ['anna', 'elle', 'ben', 'cassy', 'denis']

### 7.Write a Python program to check a list is empty or not

In [48]:
my_list = []
print("Check rem_dup list is empty or not:-")
print("               ")
if not rem_dup:
    print("\tThe list is empty")
else:
    print("\tThe list is not empty")

print("               ")
print("Check my_list is empty or not :-")
print("               ")
if not my_list:
        print("\tThe list is empty")
else:
    print("\tThe list is not empty")

Check rem_dup list is empty or not:-

	The list is not empty

Check my_list is empty or not :-

	The list is empty

### 8.. Write a Python program to clone or copy a list

In [49]:
import copy

In [52]:
copy_list = copy.copy(st_list)
copy_list[0] = "Copy_list"
print("Original list : ", st_list)
print("Copyed list : ",copy_list)

Original list :  ['anna', 'ben', 'elle', 'denis', 'anna', 'cassy', 'elle']
Copyed list :  ['Copy_list', 'ben', 'elle', 'denis', 'anna', 'cassy', 'elle']

### 9. Write a Python program to find the list of words that are longer than n from a given list of words

In [56]:
g_list = ['Words','ell','date', 'Longer', 'given', 'Words','ab']
n = 4
l_list = [l for l in g_list if len(l) > n]
print("List of word longer than 4 is ",l_list)

List of word longer than 4 is  ['Words', 'Longer', 'given', 'Words']

### 10.Write a Program that get two lists as input and check if they have at least one common member

In [87]:
l1 = [1,2,3,4,5]
l2 = [5,6,7,8,9]
c_m = False

for item in l1:
    if item in li2:
        c_m = True
        break
if c_m:
    print("Lists have at least one common member")
else:
    print("Lists do not have any common members")

Lists have at least one common member

### 11. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. (enumerate)

In [90]:
my_list = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]

list_rem = [0, 4, 5]

newlist = [value for index, value in enumerate(my_list) if index not in list_rem]

print("Original List:", my_list)
print("List after removing specified elements:", newlist)

Original List: ['Cat', 'Dog', 'Elephant', 'Fox', 'Tiger', 'Lion', 'Ponda']
List after removing specified elements: ['Dog', 'Elephant', 'Fox', 'Ponda']

###  12.Write a Python program to print the numbers of a specified list after removing even numbers from it

In [91]:
list_1= [7, 32, 81, 20, 25, 14, 23, 27]

new_list = [num for num in list_1 if num % 2 != 0]

print("Original List:", list_1)
print("List after removing even numbers:", new_list)

Original List: [7, 32, 81, 20, 25, 14, 23, 27]
List after removing even numbers: [7, 81, 25, 23, 27]

### 13. Write a Python program to shuffle and print a specified list (shuffle)

In [92]:
import random

In [95]:

my_list = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]

print("Before shuffle :",my_list)
random.shuffle(my_list)
print("\nAfter shuffle :",my_list)

Before shuffle : ['Cat', 'Dog', 'Elephant', 'Fox', 'Tiger', 'Lion', 'Ponda']

After shuffle : ['Tiger', 'Ponda', 'Cat', 'Dog', 'Fox', 'Lion', 'Elephant']

### 14.Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30

In [107]:
num = range(1,31)
sq_num= [x**2 for x in num]
print("First 5 elements:", sq_num[:5])
print("Last 5 elements:", sq_num[-5:])

First 5 elements: [1, 4, 9, 16, 25]
Last 5 elements: [676, 729, 784, 841, 900]

### 15. Write a Python program to generate all permutations of a list in Python. (itertools)

In [110]:
import itertools

In [112]:
my_l = [1, 2, 3]


l = list(itertools.permutations(my_l))


print(my_l)
print(l)

[1, 2, 3]
[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

### 16.Write a Python program to convert a list of characters into a string

In [114]:
c_list = ['T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's']
 
org_list = ''.join(c_list)
 
print(c_list)
print(org_list)

['T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's']
Tutor Joes

### 17.Write a Python program to find the index of an item in a specified list

In [127]:
sp = [20, 70, 30, 90, 10, 30, 90, 10, 80,30]
index_value = 30
num = 0
for s in sp:
    if s == index_value:
        num = sp.index(index_value)
        
print(sp)
print("Item to find : ", index_value)
print("Index number of item : ", num)

[20, 70, 30, 90, 10, 30, 90, 10, 80, 30]
Item to find :  30
Index number of item :  2

### 18. Write a Python program to flatten a shallow list

In [153]:
s_list = [[20,30,70],[30,90,10], [30,20], [70,90,10,80]]
l = []
for s1 in s_list:
    for s in s1:
        l.append(s)
        
#l = [s for s1 in s_list for s in s1]
      
print(s_list)
print(l)

[[20, 30, 70], [30, 90, 10], [30, 20], [70, 90, 10, 80]]
[20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

### 19. Write a Python program to add a list to the second list

In [156]:
list1= [10, 20, 30, 40]
list2= ["Cat", "Dog", "Lion", "Ponda"]
Add_list = list1 + list2
print("The item in list1 ", list1)
print("The item in list2 ", list2)
print("Merging two list ", Add_list)

The item in list1  [10, 20, 30, 40]
The item in list2  ['Cat', 'Dog', 'Lion', 'Ponda']
Merging two list  [10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']

### 20.Write a Python program to select an item randomly from a list Using random.choice()

In [158]:
import random

In [170]:
l_ran = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Panda"]
random_ch = random.choice(l_ran)
print("Item randomly chosen :", random_ch)

Item randomly chosen : Lion

### 21.Write a python program to check whether two lists are circularly identical

In [177]:
def fun_cirular_identical(L1,L2):
    if len(L1) == len (L2):
        cl = L1 + L1
        return set(L2) <= set(cl)
    return False
    
   
        
list1 = [8, 8, 12, 12, 8]
list2 = [8, 8, 8, 12, 12]
list3 = [1, 8, 8, 12, 12]

fun1 = fun_cirular_identical(list1,list2)
fun2 = fun_cirular_identical(list1,list3)

print(list1)
print(list2)
print(list3)
print("Compare List1 and List2:", fun1)
print("Compare List1 and List3:", fun2)

[8, 8, 12, 12, 8]
[8, 8, 8, 12, 12]
[1, 8, 8, 12, 12]
Compare List1 and List2: True
Compare List1 and List3: False

### 22.Write a Python program to find the second smallest number in a list

In [183]:
unsorted_list = [2,84,56,78,4,34,5,8,9]
sorted_lis= sorted(unsorted_list)
print("Unsorted original list : ", unsorted_list)
print("Sorted from original list : ", sorted_lis)
print("second Smallest number : ", sorted_lis[1])

Unsorted original list :  [2, 84, 56, 78, 4, 34, 5, 8, 9]
Sorted from original list :  [2, 4, 5, 8, 9, 34, 56, 78, 84]
second Smallest number :  4

### 23.Write a Python program to find the second largest number in a list

In [186]:
l = sl = 0
for n in unsorted_list:
    if n > l:
        sl = l
        l = n
    elif n > sl and n != l:
        sl = n
print(unsorted_list)
print("The second largest number : ", sl)

[2, 84, 56, 78, 4, 34, 5, 8, 9]
The second largest number :  78

### 24.Write a Python program to get unique values from a list

In [189]:
my_list = [82, 4, 10, 56, 78, 4, 34, 5, 10, 9]
u_set = set(my_list)
u_list = list(u_set)
print(my_list)
print(u_list)

[82, 4, 10, 56, 78, 4, 34, 5, 10, 9]
[34, 4, 5, 9, 10, 78, 82, 56]

### 25. Write a Python program to get the frequency of the elements in a list.

In [191]:
from collections import Counter

In [194]:
my_List = [10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]
ele_count = Counter(my_List)

print(my_List)
for e, c in ele_count.items():
    print(f"{e}:{c}")

[10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]
10:2
30:2
50:3
20:2
60:2
40:2

### 26. Create a list by concatenating a given list which range goes from 1 to n

In [198]:
L = ['T','J']
N = 10
M = []
for n in range(1, N+1):
    for t in L:
       # M = t + str(n)
        M.append(t + str(n))
print(M)

['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']

### 27.. Write a Python program to get variable unique identification number or string

In [207]:
x = 30
s = "Tutor Joes"
print("Unique identification number :", id(x))
print("Unique identification String :", id(s))

Unique identification number : 140733361133256
Unique identification String : 2507466774064

### 28.Write a Python program to find common items from two lists

In [208]:
l1 = [23,45,67,78,89,34]
l2 = [34,89,55,56,39,67]
set1 = set(l1)
set2 = set(l2)
common = set1 & set2
print(l1)
print(l2)
print(common)

[23, 45, 67, 78, 89, 34]
[34, 89, 55, 56, 39, 67]
{89, 34, 67}

### 29.Write a Python program to split a list based on first character of word

In [217]:
mylist = ["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey","bear"]

#dic to store word
store_list = {}                            # Create a dictionary to store words by their first character
for l in mylist:                      # Group words by their first character
    first_char = l[0].capitalize()    # Get the first character and capitalize it
    if first_char not in store_list:
          store_list[first_char] = []
    store_list[first_char].append(l)

for k, v in store.items():
    print(k)
    for l in v:
        print(" ", l)

C
  cat
  cow
D
  dog
T
  tiger
  turtle
L
  lion
F
  Fox
S
  Shark
  Snake
M
  mouse
  monkey
B
  bear

### 30.Write a Python program to select the odd number of a list

In [223]:
num = [1,2,4,3,6,7,5,8,9,7,8,9,10]
odd = []
for n in num:
    if n % 2 != 0:
        odd.append(n)
print(num)
print(odd)

[1, 2, 4, 3, 6, 7, 5, 8, 9, 7, 8, 9, 10]
[1, 3, 7, 5, 9, 7, 9]

### 31. Write a Python Program to count unique values inside a list

In [224]:
my_list = [10, 20, 30, 50, 80, 70, 70, 80, 10]
unique = set(my_list)
count = len(unique)
print(my_list)
print("No of Unique Items in List:", count)

[10, 20, 30, 50, 80, 70, 70, 80, 10]
No of Unique Items in List: 6

### 32. List product excluding duplicates

### 33.Extract elements with frequency greater than K

In [227]:
my_list = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
k = 2
ele = []
for x in my_list:
    if x > k:
        ele.append(x)
print(ele)

[4, 6, 4, 3, 3, 4, 3, 7, 8, 8]

### 34.Write a Python Program to Test if List contains elements in Range

In [250]:
my_list = [4, 5, 6, 7, 3, 9]
start = 3
end =  4
for x in my_list:
    result = all(start <= x <= end)
print(my_list)
print("Does list contain all elements in range:", result)

TypeError: 'bool' object is not iterable

### 35. Write a Python program to check if the list contains three consecutive common numbers in Python

In [261]:
my_list = [18, 18, 18, 6, 3, 4, 9, 9, 9]
k = 3
result = [x for x in my_list if my_list.count(x) == k]
print(my_list)
print("Three Consecutive common numbers =", result)

[18, 18, 18, 6, 3, 4, 9, 9, 9]
Three Consecutive common numbers = [18, 18, 18, 9, 9, 9]

### 36. Write a Python program to find the Strongest Neighbour

In [272]:
my_list = [10, 20, 30, 20, 30, 400]
sn=[]
for i in range(0, len(my_list) - 1):
    sn.append(max(my_list[i], my_list[i+1]))
print(*sn)

20 30 30 30 400

### 37. Write a Python Program to print all Possible Combinations from the three Digits

In [274]:
from itertools import permutations

In [278]:
my_list = [1, 2, 3]
comb = list(permutations(my_list))
print(my_list)
for c in comb:
    print(*c)

[1, 2, 3]
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

### 38. Write a Python program to find all the Combinations in the list with the given condition

In [279]:
from itertools import combinations

In [280]:
my_list = ['Tutor Joes', 'Software', 'Computer', 'Solution', 'Education']
l=[]
for x in combinations(my_list, 3):
    l.append(list(x))

print(my_list)
print(l)

['Tutor Joes', 'Software', 'Computer', 'Solution', 'Education']
[['Tutor Joes', 'Software', 'Computer'], ['Tutor Joes', 'Software', 'Solution'], ['Tutor Joes', 'Software', 'Education'], ['Tutor Joes', 'Computer', 'Solution'], ['Tutor Joes', 'Computer', 'Education'], ['Tutor Joes', 'Solution', 'Education'], ['Software', 'Computer', 'Solution'], ['Software', 'Computer', 'Education'], ['Software', 'Solution', 'Education'], ['Computer', 'Solution', 'Education']]

### 39. Write a Python program to get all unique combinations of two Lists

In [299]:
from itertools import product

list1 = ['A', 'B', 'C']
list2 = [1, 2, 3]

combinations = list(product(list1, list2))
print(list1)
print(list2)
print(combinations)

['A', 'B', 'C']
[1, 2, 3]
[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3), ('C', 1), ('C', 2), ('C', 3)]

### 40. Write a Python program to remove all the occurrences of an element from a list

In [304]:
def remove_all_occurrences(lst, ele):
    return [i for i in lst if i != ele]

my_list = [1, 3, 4, 6, 5, 1]
ele = 1

result = remove_all_occurrences(my_list, ele)
print(result)

[3, 4, 6, 5]

### 41. Write a Python Program to Remove Consecutive K element records

### 42. Write a Python Program to Replace index elements with elements in Other List

In [310]:
other_list = ['Tutor Joes', 'Computer', 'Education']
index_list = [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]
my_list=[]

for i in index_list:
    my_list.append(other_list[i])

print(other_list)
print(index_list)
print(my_list)

['Tutor Joes', 'Computer', 'Education']
[2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]
['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']

### 43. Write a Python Program to Retain records with N occurrences of K

In [323]:
def retain_records(rlist, K, N):
    return [l for l in rlist if l.count(K) == N]

my_list = [ (4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9) ]
K = 5
N = 2
r_list = retain_records(my_list,K,N)

for l in r_list:
    print(l)

(4, 5, 6, 5, 4)
(5, 5, 2)

### 44. Write a Python Program to Swap elements in String list

In [327]:
s= ["Tutor","joes","Computer","Education"]
 
print("Before Swap :",s)
 
res = [sub.replace("joes","Joe's").replace("Computer", "Software").replace("Education", "Solutions") for sub in s]
 
print ("After Swap : ",res)

Before Swap : ['Tutor', 'joes', 'Computer', 'Education']
After Swap :  ['Tutor', "Joe's", 'Software', 'Solutions']

### 45. Write a Python program to reverse All Strings in String List

In [333]:
my_list = ['Tutor', 'joes', 'Computer', 'Education']
revs=[]

for l in my_list:
    revs.append(l[::-1])

#revs = [s[::-1] for s in my_list]

revs_list = list(reversed(my_list))

print("Original list =", my_list)
print("Reversed list =", revs)
print("Reversed list =", revs_list)

Original list = ['Tutor', 'joes', 'Computer', 'Education']
Reversed list = ['rotuT', 'seoj', 'retupmoC', 'noitacudE']
Reversed list = ['Education', 'Computer', 'joes', 'Tutor']

### 46. Write a Python program to find the character position of Kth word from a list of strings

In [350]:
my_list = ['Tutor', 'joes', 'Computer', 'Education']

K = int(input("Enter K  value : "))


position = 0
index = 0


for l in string_list:
    position += len(l)
    index += 1
    if position >= K:
        break


print(string_list)
print("K =", K)
print("Index of character at Kth position word:", index)

Enter K  value : 8
['Tutor', 'joes', 'Computer', 'Education']
K = 8
Index of character at Kth position word: 2

### 47. Write a Python Program to Prefix frequency in string List

In [356]:
s_list = ['TjC', 'TjCpp', 'TjPython', 'Java']

prefix = 'Tj'

match = [s for s in s_list  if s.startswith(prefix)]


print("Count the frequency in s_list : ", len(match))

Count the frequency in s_list :  3

### 48. Write a Python Program to Split Strings on Prefix Occurrence

In [357]:
s_list = ["TjC","TjCpp","TjPython","Java","tj"]

prefix = "Tj"
 
res = []
for s in s_list:
    if s.startswith(prefix):
        res.append([s])
    else:
        res[-1].append(s)

print("Prefix Split List : " + str(res))

Prefix Split List : [['TjC'], ['TjCpp'], ['TjPython', 'Java', 'tj']]

### 49. Write a Python program to Replace all Characters of a List Except the given character

In [358]:
c_list = ['P','Y','T','H','O','N']
res=[]
for c in c_list:
    if c == 'T':
        res.append([c])
    else:
        res.append('@')

print(res)

['@', '@', ['T'], '@', '@', '@']

### 50. Write a Python Program to Add Space between Potential Words