###  1. Write a python prgm to create tuple

In [2]:
T = ()
print(T)
print(type(T))

()
<class 'tuple'>

###  2.Write a Python program to create a tuple with different data types:

In [3]:
T = ('Tutor Joes', True,'T',25,3.15)
print(T)

('Tutor Joes', True, 'T', 25, 3.15)

###  3.Write a Python program to create a tuple with numbers and print one item:

In [4]:
T = (10,20,30,40,50)
print(T[2])
print(type(T))

30
<class 'tuple'>

###  4. Write a Python program to unpack a tuple into several variables:

In [5]:
T = (2,4,6)
a,b,c = T
print('a = ',a)
print('b = ',b)
print('c = ',c)
print("T = ",T)

a =  2
b =  4
c =  6
T =  (2, 4, 6)

###  5.Write a Python program to add an item to a tuple:

In [7]:
T=(10,40,50,70,90)
T = T + (20,30)
print(T)

(10, 40, 50, 70, 90, 20, 30)

###  6.Write a Python program to convert a tuple to a string:

In [8]:
T = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')
Str = ''.join(T)
print(Str)

Tutor Joes

###  7.Write a Python program to get the 4th element and 4th element from the last of a tuple:

In [10]:
T = ('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
ele1= T[3]
ele2 = [-4]
print("4th element from Tuple : ",ele1)
print("4th element from last tuple : ",ele2)

4th element from Tuple :  e
4th element from last tuple :  [-4]

###  8.Write a Python program to create a copy of a tuple:

In [11]:
T = ("Tutor", 'J', 23, 56.67, [23, 12], True)
copy_T = T[:]
print("Copy tuple copy_T : ",copy_T)

Copy tuple copy_T :  ('Tutor', 'J', 23, 56.67, [23, 12], True)

###  9.Write a Python program to find the number of repeated items in a tuple:

In [15]:
T = (2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)
k = 2
count = T.count(k)
print("Repeated items of a tuple : ",count)

Repeated items of a tuple :  3

###  10.Write a Python program to check whether an element exists within a tuple:

In [18]:
T = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's', 8)
ele = input("Enter element to find in T : ")
if ele in T:
    print("Elemen",ele," exist in Tuple")
else:
    print("Element doesn't exit")

Enter element to find in T : s
Elemen s  exist in Tuple

###  11.Write a Python program to convert a list to a tuple:

In [21]:
my_list = [12,45,87,89,4]
print("List : ", my_list)
print(type(my_list))
T = tuple(my_list)
print("Tuple",T)
print(type(T))

List :  [12, 45, 87, 89, 4]
<class 'list'>
Tuple (12, 45, 87, 89, 4)
<class 'tuple'>

###  12.Write a Python program to remove an item from a tuple:

In [23]:
T = (23, 45, 56, 68, 10, 45, 7, 9)
r = int(input("Enter the item to be removed : "))
my_list = list(T)
my_list.remove(r)
T = tuple(my_list)
print(T)

Enter the item to be removed : 7
(23, 45, 56, 68, 10, 45, 9)

###  13.Write a Python program to slice a tuple:

In [25]:
T = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
slice_T = T[3:8]
print(T)
print(slice_T)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
(40, 50, 60, 70, 80)

###  14.Write a Python program to find the index of an item in a tuple:

In [29]:
T = (23, 45, 67, 78, 89, 90, 34, 56)
ind = int(input("Enter  the number from the tuple  : "))
print("Item :", T.index(ind))

Enter  the number from the tuple  : 89
Item : 4

###  15.Write a Python program to find the length of a tuple:

In [30]:
T = ("Lion", "Cat", "Dog", "Panda", "Tiger", "Fox")
print("Length of tuple : ", len(T))

Length of tuple :  6

###  16.Write a Python program to convert a tuple to a dictionary

In [31]:
T = (("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422))
my_dict = dict(T)
print(my_dict)

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

###  17.Write a Python program to unzip a list of tuples into individual lists:

In [32]:
my_list = [(10, 30), (60, 90), (20, 50)]
unzip = list(zip(*my_list))
print(my_list)
print(unzip)

[(10, 30), (60, 90), (20, 50)]
[(10, 60, 20), (30, 90, 50)]

###  18. Write a Python program to reverse a tuple:

In [33]:
T = (23, 45, 67, 78, 89, 90, 34, 56)
reverse_T = T[::-1]
print("Before Reverse:", T)
print("After Reverse:", reverse_T)

Before Reverse: (23, 45, 67, 78, 89, 90, 34, 56)
After Reverse: (56, 34, 90, 89, 78, 67, 45, 23)

###  19.Write a Python program to convert a list of tuples into a dictionary:

In [35]:
my_list = [("Name", "Ram"), ("Name", "Pooja"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", "Female")]
my_dict = {}
for key, value in my_list:
    if key in my_dict:
        my_dict[key].append(value)
    else:
        my_dict[key] = [value]
print(my_dict)

{'Name': ['Ram', 'Pooja'], 'Age': [21, 23], 'Gender': ['Male', 'Female']}

###  20.Write a Python program to print a tuple with string formatting

In [36]:
T = ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", "pears")

print("Fruits", T)

Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')

###  21.Create a tuple with a single item (23) and print its type:

In [40]:
T = (23,)
print("Type =", type(T))

Type = <class 'tuple'>

###  22. Unpack a tuple into 5 variables:

In [41]:
T = (11, 22, 333, 44, 55)
# Unpacking the tuple into 5 variables
a, b, c, d, e = T
print("Tuple =", T)
print(a)
print(b)
print(c)
print(d)
print(e)

Tuple = (11, 22, 333, 44, 55)
11
22
333
44
55

###  23.Swap two tuples in Python:

In [42]:
T1 = (10,)
T2 = (20,)
print("Before Swap A:", T1)
print("Before Swap B:", T2)

T1,T2 = T2,T1 

print("After Swap A:", T1[0])
print("After Swap B:", T2[0])

Before Swap A: (10,)
Before Swap B: (20,)
After Swap A: 20
After Swap B: 10

###  24. Copy specific elements from one tuple to a new tuple:

In [43]:
T = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
new_T = T[2:8]
print(T)
print(new_T)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
(30, 40, 50, 60, 70, 80)

###  25.Modify a tuple

In [44]:
T = (10, 20, 30, 40, 50)
myt = T[:2] + (33,) + T[3:]
print(T)
print(myt)

(10, 20, 30, 40, 50)
(10, 20, 33, 40, 50)

### 26.Sort a tuple of tuples by the second item

In [49]:
T = (('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))
T2 = ((101,'j'),(20,'a'),(89,'g'),(7,'w'),(0,'l'))
sorted_tuple = sorted(T, key=lambda x: x[1])
sort_T2 = sorted(T2,key=lambda x:x[1])
print(T)
print(sorted_tuple)
print(sort_T2)

(('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18))
[('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53)]
[(20, 'a'), (89, 'g'), (101, 'j'), (0, 'l'), (7, 'w')]

### 27.Count the number of occurrences of item 30 in a tuple:

In [47]:
T = (30, 50, 10, 30, 70, 50, 30)
count_30 = T.count(30)
count_50 = T.count(50)
print(T)
print("Number of Counts 30:", count_30)
print("Number of Counts 50:", count_50)

(30, 50, 10, 30, 70, 50, 30)
Number of Counts 30: 3
Number of Counts 50: 2

### 28.Compute element-wise sum of given tuples:

In [1]:
A = (2, 5, 8)
B = (6, 5, 1)
C = (1, 4, 7)
D = (3, 7, 2)

sum_ele = tuple(sum(x) for x in zip(A, B, C, D))
print("A =", A)
print("B =", B)
print("C =", C)
print("D =", D)
print("Sum of Elements =", sum_ele)

A = (2, 5, 8)
B = (6, 5, 1)
C = (1, 4, 7)
D = (3, 7, 2)
Sum of Elements = (12, 21, 18)

### 29: Sort a tuple by its float element

In [2]:
data = [('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40')]

s_data = sorted(data,key=lambda x:float(x[1]), reverse =True)
print(s_data)

[('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43')]

### 30: Replace the last value of tuples in a list

In [9]:
data = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
value = 10
new_data=[]
for t in data:
    new_data.append([(t[:-1])+(value,)])
print(replaced_data)

[[(5, 2, 10)], [(4, 7, 10)], [(8, 9, 10)]]

### 31: Extract tuples having K digit elements

In [20]:
data = [(47, 23), (3, 78), (22, 53), (121, 45), (7,)]
K = 2
r=[]
for t in data:
    if all(len(str(e)) == K for e in t):
        r.append(t)

print(r)

[(47, 23), (22, 53)]

### 32: Extract symmetric tuples

In [21]:
data = [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]
sym_tup = []
for t in data:
    if t[::-1] in data:
        sym_tup.append(t)

print(sym_tup)

[(18, 23), (2, 9), (9, 2), (23, 18)]

### 33: Sort tuples by their maximum element

In [23]:
data = [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]


sorted_data = sorted(data, key=lambda t: max(t))

print(sorted_data)

[(1, 2), (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3)]

### 34: Remove nested records from tuple

In [28]:
data = (10, 20, (30,), 40, (50, 60), 70)
non_tuple_ele =[]
for t in data:
    if not isinstance(t,tuple):
        non_tuple_ele.append(t)

#result = tuple(item for item in data if not isinstance(item, tuple))

print(result)

(10, 20, 40, 70)

### 35:Elements Frequency in Mixed Nested Tuple

In [31]:
data = (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)

freq = {}
def count_elements(data):
    if isinstance(data, tuple):
        for t in data:
            count_elements(t)
    else:
        if data in freq:
            freq[data] += 1
        else:
            freq[data] = 1

count_elements(data)
print("Elements Frequency:", freq)

Elements Frequency: {10: 2, 20: 2, 30: 1, 40: 1, 50: 1, 60: 2, 70: 1}

### 36: Get unique elements in nested tuple

In [33]:
data = [(1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,)]
unique_ele=[]
for t in data:
    for d in t:
        unique_ele.append(set(t))

print("Unique Element in Nested Tuples:", list(unique_ele))

Unique Element in Nested Tuples: [{1, 3, 5}, {1, 3, 5}, {1, 3, 5}, {4, 5, 7}, {4, 5, 7}, {4, 5, 7}, {1, 2, 6}, {1, 2, 6}, {1, 2, 6}, {9, 10}, {9, 10}, {10}]

### 37: Concatenate tuples to nested tuples

In [34]:
tuple1 = ((18, 23, 2, 9),)
tuple2 = ((10, 3, 11),)


concatenated_tuples = tuple1 + tuple2

print("Tuples after Concatenating:", concatenated_tuples)

Tuples after Concatenating: ((18, 23, 2, 9), (10, 3, 11))

### 38: Sort by Frequency of the second element in Tuple List

In [35]:
data = [(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]

sorted_data = sorted(data, key=lambda x: data.count((x[0], x[1])), reverse=True)

print("Sorted List of tuples:", sorted_data)

Sorted List of tuples: [(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]

### 39: Sort lists in tuple

In [36]:
data = ([10, 50, 60], [80, 20, 30], [70, 100, 40], (90,))
sort= tuple(sorted(data, key=lambda x: sorted(x)))
print(sort)

([10, 50, 60], [80, 20, 30], [70, 100, 40], (90,))

### 40: Order Tuples using an external List

In [39]:
data = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
order_list = ['A', 'B', 'C', 'D']

sort= sorted(data, key=lambda x: order_list.index(x[0]))

print("Ordered Tuple List:", sort)

Ordered Tuple List: [('A', 67), ('B', 68), ('C', 69), ('D', 70)]

### 41: Filter Tuples by Kth element from List

In [40]:
data = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
kth_ele = [67, 70, 71, 75]
k = 1
fill_tup=[]
for t in data:
    if t[1] in kth_ele:
        fill_tup.append(t)
#filtered_tuples = [t for t in data if t[1] in kth_elements]

print("Filtered tuples:", fill_tup)

Filtered tuples: [('D', 70), ('A', 67)]

### 42: Closest Pair to Kth index element in Tuple

In [41]:
data = [(23, 18), (9, 2), (2, 3), (9, 18), (23, 2)]
new_data = (20, 2)
k = 1

nearest_tuple = min(data, key=lambda x: abs(x[k] - new_data[k]))

print("Nearest Tuple:", nearest_tuple)

Nearest Tuple: (9, 2)

### 43: Tuple List intersection (Order irrespective)

In [42]:
list1 = [(3, 4), (5, 6), (9, 10), (4, 5)]
list2 = [(5, 4), (3, 4), (6, 5), (9, 11)]

intersection = set(list1) & set(list2)

print("Intersection:", intersection)

Intersection: {(3, 4)}

### 44: Intersection in Tuple Records Data

In [45]:
list1 = [('A', 65), ('D', 68), ('B', 66)]
list2 = [('D', 68), ('C', 67), ('A', 65)]
inter=[]
for l in list1:
    for l in list2:
        inter.append(l)

print("Intersection of data records:\n", inter)

Intersection of data records:
 [('D', 68), ('C', 67), ('A', 65), ('D', 68), ('C', 67), ('A', 65), ('D', 68), ('C', 67), ('A', 65)]

### 45: Unique Tuple Frequency (Order Irrespective)

In [46]:
data = [(3, 4), (1, 2), (4, 3), (5, 6)]


unique_tuples = list(set(data))
unique_frequency = len(unique_tuples)

print("Unique tuples Frequency:", unique_tuples)
print("Unique tuples Frequency Count:", unique_frequency)

Unique tuples Frequency: [(1, 2), (3, 4), (5, 6), (4, 3)]
Unique tuples Frequency Count: 4

###  46: Skew Nested Tuple Summation

In [56]:
def data_summation(data):
    if data is None:
        return 0
    return data[0] + data_summation(data[1])

data = (1, (2, (3, (4, (5, None)))))
sum_data = data_summation(data)

print("Summation of 1st positions:", sum_data)

Summation of 1st positions: 15

###  47: Convert Binary tuple to Integer

In [59]:
binary_tuple = (1, 0, 1, 0)
binary_string = ''.join(map(str,binary_tuple))

decimal_number = int(binary_string, 2)

print("Binary Tuple:", binary_tuple)
print("Binary String:", binary_string)
print("Decimal number is:", decimal_number)

Binary Tuple: (1, 0, 1, 0)
Binary String: 1010
Decimal number is: 10

###  48: Tuple XOR operation

In [63]:
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)
xor_tuple=[]
for a,b in zip(tuple1, tuple2):
    xor_result = a ^ b
    xor_tuple.append(xor_result)

print("XOR tuple:", xor_tuple)

XOR tuple: [15, 6, 5, 10]

###  49: AND operation between Tuples

In [75]:
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)
and_tuple=[]
for a, b in zip(tuple1, tuple2):
    and_result = a & b 
    and_tuple.append(and_result)

print("AND operation Between Tuple:", and_tuple)

AND operation Between Tuple: [0, 0, 2, 1]

###  Elementwise AND in tuples

In [72]:
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)
ele_tuple=[]
for a, b in zip(tuple1, tuple2):
    ele_result= a & b
    ele_tuple.append(ele_result)


print("Elementwise AND Tuple:", (ele_tuple))

Elementwise AND Tuple: [0, 0, 2, 1]